BasedOnStyle: Microsoft
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 110
Standard: Latest
NamespaceIndentation: All
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
SortIncludes: false
BreakStringLiterals: false
ReflowComments: false
FixNamespaceComments: false
